[submodule "libphutil"]
	path = libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "arcanist"]
	path = arcanist
	url = https://github.com/phacility/arcanist.git
[submodule "phabricator"]
	path = phabricator
	url = https://github.com/phacility/phabricator.git
[submodule "phabricator-gitlab-auth-provider"]
	path = phabricator-gitlab-auth-provider
	url = https://github.com/manGoweb/phabricator-gitlab-auth-provider.git
